/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

*:focus {
  outline: thin dotted;
}

.loader {
  border-top-color: #3498db;
  -webkit-animation: spinner 1.5s linear infinite;
  animation: spinner 1.5s linear infinite;
}

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media only screen and (min-width: 768px) {
  .flip {
    perspective: 37rem;
  }
  .flip-content {
    transition: transform 0.5s;
    transform-style: preserve-3d;
  }
  .flip.show-back .flip-content {
    transform: rotateY(180deg);
    transition: transform 0.5s;
  }

  .flip-front {
    position: absolute;
  }

  .flip-front,
  .flip-back {
    backface-visibility: hidden;
  }
  .flip-back {
    transform: rotateY(180deg);
  }
}

/**
 * Tooltips *
 */

.w-tooltip {
  width: 13rem;
}

@media (min-width: 640px) {
  .w-tooltip {
    width: 32rem;
  }
 }
@media (min-width: 768px) {
  .w-tooltip {
    width: 12rem;
  }
 }
@media (min-width: 1024px) {
  .w-tooltip {
    width: 20rem;
  }
 }
@media (min-width: 1280px) {
  .w-tooltip {
    width: 28rem;
  }
 }
@media (min-width: 1536px) {
  .w-tooltip {
    width: 36rem;
  }
 }







